html, body {
  background: -webkit-linear-gradient(#0072CE, #003087);
  color: white;
  font-weight: 200;
}

div.container {
  width: 800px;
  border: 1px solid black;
  padding-top: 5px;
}

div#sonyLogo {
  flex: 0 0 auto;
  width: 30%;
  text-align: left;
  /* top, right, bottom, left */
  margin: 15px 10px 10px 10px;
  padding: 30px 0px 5px 20px;
}

div#searchBox {
  flex: 0 0 auto;
  padding-top: 55px;
  padding-left: 10px;
  text-align: center;
}

div#tv {
  padding-left: 130px;
  text-align: center;
  z-index:99;
}


div#tv:hover #vidPlayer {
   margin-top:  184px;
   margin-left: -445px;
   height:400px;
   width:600px;
}


#vidPlayer {
  align: right;
  height: 100px;
  width: 150px;
  overflow: none;
  border: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

div#queryForm {
  padding: 1px 0px 10px 0px;
  height: 120px;
}

div.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

div.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
}

/*
Pager Style
*/
div.pager {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
}

div#total {
  width: 50%;
  padding: 10px 0px 5px 10px;
  flex: 0 0 400px;
}

div#navButtons {
  flex: 0 1 auto;
  text-align: right;
  width: 50%;
  padding: 10px 5px 5px 10px;
  z-index:10000;
}

span.small {
  font-size: 7pt;
  font-style: italic;
}


/*
Item Style
*/

div.item {
  padding-left: 10px;
  display: flex;
  height: 114px;
}

div.img-container-spacer {
  width: 145px !important;
  height: 114px !important;
  flex-shrink: 0;
}

div.img-container {
  width:125px;
  height:94px;
  /* padding-right: 20px; */
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  flex-shrink: 0;
}

div.txt-container {
  width: 500px;
  padding-right: 5pt;
  margin: 10px 10px 10px 10px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
}

div.streamDisplayName {
  font-size: 14pt;
  font-weight: bold;
}

div.txt-container:hover div.raw {
  visibility: visible;
  opacity: 1;
}

div.raw {
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  position: fixed;
  top: 140px;
  left: 820px;
  width: 300px;
  height:450px;
  overflow:scroll;
}
div.raw:hover {
  height:558px;
  width:600px;
}

span.field-name {
  font-style: italic;
}

/* item image classes & animations */
@-webkit-keyframes moveImage {
  from {
    margin-top:  0vh;
    margin-left: 0vw;
  }
  50% {
    margin-top:  -20vh; /* this value gets overwritten in javascript */
    margin-left: 65vw;
    transform: scale(.1);
  }
  to {
    margin-top:  0vh;
    margin-left: 0vw;
  }
}

@-webkit-keyframes flipReplaceX
{
    to {
      transform: rotateX(360deg);
    }
}
@-webkit-keyframes flipReplaceY
{
    to {
      transform: rotateY(360deg);
    }
}

img {

}

img.stream-image {
  position:absolute;
  transition: all 0.7s ease;
  width: inherit;
  height: inherit;
}
img.stream-image.animate {
	animation-name: moveImage;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction:alternate;
	animation-delay: 0;
	animation-play-state:running;
	animation-fill-mode: both;
}
img.stream-image.replaceX {
	animation-name: flipReplaceX;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction:alternate;
	animation-delay: 0;
	animation-play-state:running;
	animation-fill-mode: both;
}
img.stream-image.replaceY {
	animation-name: flipReplaceY;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction:alternate;
	animation-delay: 0;
	animation-play-state:running;
	animation-fill-mode: both;
}
img.stream-image:hover {
  transform: scale(2, 2);
}
